.card {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2px;
    padding: 2%;
    width: auto;
    height: auto;
    background: white;
    margin-top: 20px;
}
.appContainer{
    background: lavenderblush;
}
.cartContainer{
    position: relative;
}
.cartCard{
    position:fixed;
}
.itemCard{
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
    height: 430px;
}
:root{
    background: lavenderblush;
}
.card-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.item{
    background: white;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}
.float-middle{
    float: middle;
}
body {
    margin: 1%;
    width: auto;
    height: auto;
}
.item{
    background: white;
}
.my-row{
    background: lavenderblush;
}
.unselectable {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    -webkit-column-gap: 10px;
}

.side_bar {
    position: fixed;
    float: right;
}
